* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2ECC71;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}

.player-container {
    /* background-color: black; */
    background-color: blueviolet;    
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.start-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.25em;
    text-align: center;
    white-space: pre;
}

.player-name {
    position: absolute;
    /* top: 4%; */
    left: 50%;
    transform: translateX(-50%);
    color: red;
}

#player1-name {
    top: 1%;
}
#player2-name {
    bottom: 6%;
}
#player1-score {
    font-size: 1.25em;
    top: 7%;
}
#player2-score {
    font-size: 1.25em;
    bottom: 2.5%;
}

i.material-icons {
    font-size: 5em;
    color: crimson;
}

.button-container {
    position: absolute;
    top: 70%;
    left: 65%;
    margin-left: 30px;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    flex-direction: column;
}

.btn-style {
    /* position: absolute;
    top: 70%;
    left: 65%; 
    transform: translateX(-50%);*/
    background: none;
    border: none;
}

.button-title {
    font-size: 1.1em;
    /* position: absolute;
    top: 77%;
    left: 65%; */
    color: crimson;
}

/* @media screen and (min-width: 500px ) {
    .button-container {
        margin-left: 150px;
    }
}

@media screen and (min-width: 600px ) {
    .button-container {
        margin-left: 150px;
    }
} */